.promo {
  height: 170px;
}
.promo .container {
  width: 960px;
  margin: 0 auto;
}
.promo .container header {
  width: 60%;
  margin: 55px 0 0 28px;
}
.promo .container header h1 {
  font-size: 30px;
  margin: 0 0 10px 0;
}
.promo .container header h2 {
  font-size: 20px;
}
.promo .container .col .take-tour {
  margin-left: 25px;
}

section.showcase .container {
  width: 932px;
  margin: 0 auto;
}

.item, .collection {
  min-width: 233px;
  width: 233px;
}
.item .holder, .collection .holder {
  width: 213px;
  margin: 10px;
}
.item .product-gallery, .collection .product-gallery {
  width: 207px;
}
.item:nth-child(4n), .collection:nth-child(4n) {
  margin-right: 0;
}
.big.item .holder, .big.collection .holder {
  width: 446px;
  margin: 10px;
}
.big.item .product-gallery, .big.collection .product-gallery {
  width: 440px;
}
